footer{
    display: flex;
    flex-wrap: flex;
    margin-top: auto;
    background-color:darkgoldenrod;
    padding: 20px 10%;
}

ul{
    list-style: none;
}

.footer-col{
    width:25%;
}

.footer-col h4{
    position:relative;
    font-family: 'Times New Roman';
    
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color:black;
   
}

.footer-col h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    background-color: darkmagenta;
    height:2px;
    width:40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color:black;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color:aqua;
    padding-left: 2px;
}

.links a{
    display:inline-block;
    height:44px;
    width:44px;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition:0.4s;
}

.links a:hover{
    color:chartreuse;
    background-color: darkblue;
}

.fa-facebook {
    background: #2856bb;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

@media(max-width: 740px){
    .footer-col{
        width:50%;
        margin-bottom:30px;
        text-align: center;
    }
}

.footer-col h4::before{
    all:unset;
}



